.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
    padding-top: 55px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(36, 23, 23);
    display: block;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .sidenav a:hover {
    background-color: #f8f9fa ;
    color: #DC4E44;
    font-weight: bold;
    cursor: pointer
  }

  .activemenu{
    background-color: #DC4E44 !important;
    color: #e9ecef !important;
    cursor: pointer;
  }
  