<div class="content">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" routerLink='/javascript/basics'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/javascript.png">
                    </div>
                    <div class="card-body">
                        <p>Javascript Basics</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" routerLink='/javascript/interviewQuestions'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/javascript.png">
                    </div>
                    <div class="card-body">
                        <p>Interview Questions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>