<div style="margin: 20px 200px;background: #f8f9fa;padding: 20px;">
    <div>
        <h5><span class="mainheader"> Use State in React </span></h5>
    </div>
    <div class="body">
        <h6>Update name when a button clicks</h6>
        <ngx-prism language="javascript">
            {{codes.usestate_eg1}}
        </ngx-prism>

        <h6>Change Count values by increment and decrement</h6>
        <ngx-prism language="javascript">
            {{codes.usestate_eg2}}
        </ngx-prism>

        <h6>Show and hide by using userstate</h6>
        <ngx-prism language="javascript">
            {{codes.usestate_eg3}}
        </ngx-prism>
    </div>
</div>