<nav class="navbar navbar-expand-lg  main-header fixed-top">
  <a class="navbar-brand" href="#">Truecodez</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <span routerLinkActive="active"  (click)="onChangeHeader(3)" routerLink="/javascript">Javascript</span>
      </li>
      <li class="nav-item">
        <span routerLinkActive="active" (click)="onChangeHeader(4)" routerLink="/angular">Angular</span>
      </li>
      <li class="nav-item">
        <span routerLinkActive="active" (click)="onChangeHeader(4)" routerLink="/react">Reactjs</span>
      </li>
    </ul>
  </div>
</nav>