<nav class="navbar navbar-expand-lg navbar-dark main-header fixed-top">
    <a class="navbar-brand" href="#">Truecodez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/angular">Angular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/javascript">Javascript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bootsrap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Css</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workspace">Workspace</a>
        </li>
      </ul>
    </div>
  </nav>