<div class="pagelayout">
    <div class="card">
        <div class="card-header">
            <h6>Angular Services For Sharing Data Between Components</h6>
        </div>
        <div class="card-body">
            <p>First we create a service file ,first-component , second-component. Here we are sharing data fron
                first-component
                to second-component</p>
            <p><strong>data.service.ts</strong></p>
            <ngx-prism language="javascript">
                {{servicefile}}
            </ngx-prism>
            <p><strong>first-component.ts</strong></p>
            <ngx-prism language="javascript">
                {{firstcomponentts}}
            </ngx-prism>
            <p><strong>second-component.ts</strong></p>
            <ngx-prism language="javascript">
                {{secondcomponentts}}
            </ngx-prism>
            <p><strong>second-component.html</strong></p>
            <ngx-prism language="javascript">
                {{secondcomponenthtml}}
            </ngx-prism>
        </div>
    </div>
</div>