<div style="margin: 20px 200px;background: #f8f9fa;padding: 20px;">
    <div>
        <h5><span class="mainheader"> Use Effect in React </span></h5>
    </div>
    <div class="body">
        <h6>Update message on load</h6>
        <ngx-prism language="javascript">
            {{codes.useeffect}}
        </ngx-prism>

        <h6>Call an api on load component and button clicks</h6>
        <ngx-prism language="javascript">
            {{codes.useeffectcallapi}}
        </ngx-prism>
    </div>
</div>