<!-- Demo header-->
<section>
    <div class="row">
        <div class="col-md-2">
            <div class="sidebarnav">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">

                    <a class="nav-link mb-3 p-3 shadow active" id="export-jspdf-tab" data-toggle="pill"
                        href="#export-jspdf" role="tab" aria-controls="export-jspdf" aria-selected="true">
                        <i class="fa fa-user-circle-o mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">jsPDF</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="export-pdfmake-tab" data-toggle="pill"
                        href="#export-pdfmake" role="tab" aria-controls="export-pdfmake" aria-selected="false">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">PDFmake</span></a>



                </div>
            </div>
        </div>
        <div class="col-md-10">
            <!-- Tabs content -->
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade shadow rounded bg-white show active p-5" id="export-jspdf" role="tabpanel"
                    aria-labelledby="export-jspdf-tab">
                    <h4 class="font-italic mb-4"> Export PDF in Angular with JSPDF</h4>
                    <div class=" text-right">
                        <button class="btn btn-success btn-sm m-2" (click)="exportPdf('open')">Open
                            PDF</button>
                        <button class="btn btn-danger btn-sm m-2" (click)="exportPdf('download')">Download
                            PDF</button>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Date of Birth</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let std of studentsList;let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{std.name}}</td>
                                <td>{{std.email}}</td>
                                <td>{{std.mobile}}</td>
                                <td>{{std.dob}}</td>

                            </tr>
                        </tbody>
                    </table>
                    <h6 class="header">Install jsPDF Package</h6>
                    <p>Next, install the jsPDF package in your angular application using the below command.
                    </p>
                    <ngx-prism language="html">
                        {{codes.install_jspdf}}
                    </ngx-prism>
                    <strong>app.component.html</strong>
                    <ngx-prism language="html">
                        {{codes.jspdf_component_html}}
                    </ngx-prism>
                    <strong>app.component.ts</strong>
                    <ngx-prism language="javascript">
                        {{codes.jspdf_component_ts}}
                    </ngx-prism>
                </div>
                <!--  Export PDF in Angular with PDFMake -->
                <div class="tab-pane fade shadow rounded bg-white p-5" id="export-pdfmake" role="tabpanel"
                    aria-labelledby="export-pdfmake-tab">
                    <h4 class="font-italic mb-4"> Export PDF in Angular with PDFMake</h4>
                    <h6 class="header">Install PDFMake Package</h6>
                    <p>First, we need to install the PDFMake library which is an open-source JavaScript library for
                        client-side PDF generation. Simply run the following command.
                    </p>
                    <p>Next, we need to import 2 files — <strong>pdfmake.js</strong> and <strong>vfs_fonts.js</strong> .
                        Insert the code below at the top of your component or service.</p>
                    <ngx-prism language="html">
                        {{codes.install_pdfmake}}
                    </ngx-prism>

                    <h6 class="header">Example-1 : Generate Single Line Text in PDF</h6>
                    <div class=" text-right">
                        <button class="btn btn-success btn-sm m-2" (click)="generatePdfMakeExample1('open')">Open
                            PDF</button>
                        <button class="btn btn-danger btn-sm m-2" (click)="generatePdfMakeExample1('download')">Download
                            PDF</button>
                    </div>
                    <p><strong>angular-export.component.html</strong></p>
                    <ngx-prism language="html">
                        {{codes.pdfmake_singleline_html}}
                    </ngx-prism>
                    <p><strong>angular-export.component.ts</strong></p>
                    <ngx-prism language="javascript">
                        {{codes.pdfmake_singleline_ts}}
                    </ngx-prism>

                    <h6 class="header">Example-2 : Generate Dynamic Text in PDF</h6>
                    <div class=" text-right">
                        <button class="btn btn-success btn-sm m-2" (click)="generatePdfMakeExample2(action='open')">Open
                            PDF</button>
                        <button class="btn btn-danger btn-sm m-2"
                            (click)="generatePdfMakeExample2(action='download')">Download
                            PDF</button>
                    </div>
                    <p><strong>angular-export.component.html</strong></p>
                    <ngx-prism language="html">
                        {{codes.pdfmake_dynamic_html}}
                    </ngx-prism>
                    <p><strong>angular-export.component.ts</strong></p>
                    <ngx-prism language="javascript">
                        {{codes.pdfmake_dynamic_ts}}
                    </ngx-prism>

                    <h6 class="header">Example-3 : Header,Footer,Images and Pagination </h6>
                    <div class=" text-right">
                        <button class="btn btn-success btn-sm m-2" (click)="generatePdfMakeExample3(action='open')">Open
                            PDF</button>
                        <button class="btn btn-danger btn-sm m-2"
                            (click)="generatePdfMakeExample3(action='download')">Download
                            PDF</button>
                    </div>
                    <p><strong>angular-export.component.html</strong></p>
                    <ngx-prism language="html">
                        {{codes.pdfmake_HEADER_html}}
                    </ngx-prism>
                    <p><strong>angular-export.component.ts</strong></p>
                    <ngx-prism language="javascript">
                        {{codes.pdfmake_HEADER_ts}}
                    </ngx-prism>

                    <h6 class="header">Example-4 : Tables and Columns </h6>
                    <div class=" text-right">
                        <button class="btn btn-success btn-sm m-2" (click)="generatePdfMakeExample4(action='open')">Open
                            PDF</button>
                        <button class="btn btn-danger btn-sm m-2"
                            (click)="generatePdfMakeExample4(action='download')">Download
                            PDF</button>
                    </div>
                    <p><strong>angular-export.component.html</strong></p>
                    <ngx-prism language="html">
                        {{codes.pdfmake_HEADER_html}}
                    </ngx-prism>
                    <p><strong>angular-export.component.ts</strong></p>
                    <ngx-prism language="javascript">
                        {{codes.pdfmake_table_ts}}
                    </ngx-prism>

                </div>







            </div>
        </div>
    </div>
</section>