<div class="container" style="margin-top: 25px;">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th width="70px">Sl No</th>
                <th>Contents</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td width="70px">1</td>
                <td><a routerLink="/angular/databinding">Data Binding in Angular</a></td>
            </tr>

            
            <!-- <tr>
                <td width="70px"></td>
                <td><a routerLink="/angular/lifecyclehooks"></a></td>
            </tr>

            <tr>
                <td width="70px">1</td>
                <td><a routerLink="/angular/lifecyclehooks">Life cycle Hooks In angular</a></td>
            </tr>
            <tr>
                <td width="70px">2</td>
                <td><a routerLink="/angular/viewchild">ViewChild and ViewChildren</a></td>
            </tr>
            <tr>
                <td width="70px">3</td>
                <td><a routerLink="/angular/contentprojection">Content Projection</a></td>
            </tr>
            <tr>
                <td width="70px">4</td>
                <td><a routerLink="/angular/hostbinding">HostBinding & HostListner</a></td>
            </tr>
            <tr>
                <td width="70px">5</td>
                <td><a routerLink="/angular/ngContainer">ngContainer & ngTemplte & ngTemplateOutlet</a></td>
            </tr>
            <tr>
                <td width="70px">5</td>
                <td><a routerLink="/angular/routing/12">Routing</a></td>
            </tr>
            <tr>
                <td width="70px">6</td>
                <td><a routerLink="/angular/reactiveforms">Reactive Form</a></td>
            </tr>
            <tr>
                <td width="70px">5</td>
                <td><a routerLink="/angular/employees">emp list</a> &nbsp;
                    <a routerLink="/angular/employees/create">emp create</a>
                    &nbsp; <a routerLink="/angular/employees/view/10">emp view</a>
                </td>
            </tr> -->

        </tbody>
    </table>
</div>