<div class="content">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" routerLink='/angular/basics'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/shield-large.png">
                    </div>
                    <div class="card-body">
                        <p>Angular Basics</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" routerLink='/angular/interview-questions'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/shield-large.png">
                    </div>
                    <div class="card-body">
                        <p>Interview Questions</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" routerLink='/angular/add-bootsrap'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/shield-large.png">
                    </div>
                    <div class="card-body">
                        <p>Add Bootsrap In Angular</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" routerLink='/angular/add-bootsrap'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/shield-large.png">
                    </div>
                    <div class="card-body">
                        <p>Add Prism js In Angular</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" routerLink='/angular/parent'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/shield-large.png">
                    </div>
                    <div class="card-body">
                        <p>Parent</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" routerLink='/angular/child'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/shield-large.png">
                    </div>
                    <div class="card-body">
                        <p>child</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" routerLink='/angular/parent-to-child'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/shield-large.png">
                    </div>
                    <div class="card-body">
                        <p>Pass data from parent to child component in Angular</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" routerLink='/angular/child-to-parent'>
                <div class="card-content">
                    <div class="card-header">
                        <img src="../../../assets/images/shield-large.png">
                    </div>
                    <div class="card-body">
                        <p>Pass data from child to parent component in Angular</p>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>