<div class="container">
    <button routerLink='/workspace/parent' class="btn btn-danger mr-2">Parent</button>
    <button routerLink='/workspace/child' class="btn btn-info mr-2">Child</button>
    <button routerLink='/workspace/grid' class="btn btn-info mr-2">Grid</button>
    <!-- <div class="card">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Weight</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of items;let i=index;">
                    <td>{{i+1}} </td>
                    <td> <input [(ngModel)]="emp.weight" type="number" (input)="sumWeight()" class="form-control" />
                    </td>
                    <td><button (click)="addRow(i);" class="btn btn-info">Add</button>&nbsp;
                        <button (click)="deleteRow(i,emp);" class="btn btn-danger">Del</button>
                    </td>
                </tr>
                <tr>
                    <td> Total</td>
                    <td>{{totalweight}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>