<!-- Demo header-->
<section>
    <div class="row">
        <div class="col-md-2">
            <div class="sidebarnav">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">

                    <a class="nav-link mb-3 p-3 shadow active" id="introduction-tab" data-toggle="pill"
                        href="#introduction" role="tab" aria-controls="introduction" aria-selected="true">
                        <i class="fa fa-user-circle-o mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Introducrion</span></a>



                    <a class="nav-link mb-3 p-3 shadow" id="Data_binding-tab" data-toggle="pill" href="#Data_binding"
                        role="tab" aria-controls="Data_binding" aria-selected="false">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Data Binding</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="Directives-tab" data-toggle="pill" href="#Directives"
                        role="tab" aria-controls="Directives" aria-selected="false">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Directives</span></a>

                </div>
            </div>
        </div>
        <div class="col-md-10">
            <!-- Introduction -->
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade shadow rounded bg-white show active p-5" id="introduction" role="tabpanel"
                    aria-labelledby="introduction-tab">
                    <h4 class="font-italic mb-4"> Introduction</h4>
                </div>


                <!-- data binding -->
                <div class="tab-pane fade shadow rounded bg-white p-5" id="Data_binding" role="tabpanel"
                    aria-labelledby="Data_binding-tab">
                    <h4 class="font-italic mb-4"> Data bindings in Angular</h4>
                    <div class="card">
                        <div class="card-header">
                            <h6>Interpolation</h6>
                        </div>
                        <div class="card-body">
                            <p>Interpolation uses the braces expression to display data from the component to the
                                view.</p>
                            <h6>app.component.ts</h6>
                            <ngx-prism language="javascript">
                                {{codes.Interpolation_ts}}
                            </ngx-prism>
                            <h6>app.component.html</h6>
                            <ngx-prism language="html">
                                {{codes.Interpolation_html}}
                            </ngx-prism>
                            <h6>output</h6>
                            <div>
                                <span>User Name is {{name}}</span>
                                <br /><br />
                                <span> {{"User email is "+email}}</span>
                                <br /><br />
                                <span>User age is {{age}}</span>
                                <br /><br />
                                <span> User Salary is {{salary | currency}}</span>
                                <br /><br />
                                <span>User Dob is {{dob}}</span>
                                <br /><br />
                                <span>User Dob is {{dob | date}}</span>
                                <br /><br />
                                <span>Status is {{status}}</span>
                                <br /><br />
                                <span>{{status ? "This is correct status" :"This is false status"}}</span>
                                <br /><br />
                                <span>{{returnString()}}</span>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="card">
                        <div class="card-header">
                            <h6>Property Binding</h6>
                        </div>
                        <div class="card-body">
                            <p> Property binding uses the square brackets [ ] syntax. In Property binding we can bind
                                data to the the DOM properties of an HTML element.</p>
                            <h6>app.component.ts</h6>
                            <ngx-prism language="javascript">
                                {{codes.Propertybinding_ts}}
                            </ngx-prism>
                            <h6>app.component.html</h6>
                            <ngx-prism language="html">
                                {{codes.Propertybinding_html}}
                            </ngx-prism>
                            <h6>output</h6>
                            <div>
                                <label>Name </label>&nbsp; <input [value]="name">
                                <br /><br />
                                <label>Email </label>&nbsp; <input [value]="email" [disabled]="isdisabled">
                                <br /><br />
                                <p class="card-text" [hidden]="false">{{name}}</p>
                                <br /><br />
                                <label>Image </label>&nbsp; <img [src]="imgpath">
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="card">
                        <div class="card-header">
                            <h6>Event Binding</h6>
                        </div>
                        <div class="card-body">
                            <p> Event Binding works with the event activities of the UI elements like click-event,
                                blur-event.Here data is passing from html template to component class.</p>
                            <h6>app.component.html</h6>
                            <ngx-prism language="html">
                                {{codes.Eventbinding_html}}
                            </ngx-prism>
                            <h6>app.component.ts</h6>
                            <ngx-prism language="javascript">
                                {{codes.Eventbinding_ts}}
                            </ngx-prism>
                            <h6>output</h6>
                            <div>
                                <button class="btn btn-info" (click)="showUsername()">Click Here</button>
                                <label> {{username}}</label>
                                <br /><br />
                                <button class="btn btn-danger" (mouseenter)="showUserEmail()">Hover Here</button>
                                <label> {{useremail}}</label>
                            </div>
                            <br /><br />
                            <h5>Types for Event Binding</h5>
                            <ngx-prism language="javascript">
                                {{codes.Eventbinding_types}}
                            </ngx-prism>
                            <br /><br />
                            <h5>Compination of Property binding and Event binding example</h5>
                            <ngx-prism language="javascript">
                                {{codes.Eventbinding_propertybinding_example}}
                            </ngx-prism>
                            <div class="card card-block" *ngFor="let emp of employees">
                                <h4 class="card-title">{{emp.name}}</h4>
                                <p class="card-text" [hidden]="emp.hide">{{emp.place}}</p>
                                <a style="width:200px" class="btn btn-success" (click)="toggle(emp)">Click Me</a>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="card">
                        <div class="card-header">
                            <h6>Two way data Binding</h6>
                        </div>
                        <div class="card-body">
                            <h6>app.component.html</h6>
                            <ngx-prism language="html">
                                {{codes.twowaydatabinding_html}}
                            </ngx-prism>
                            <h6>app.component.ts</h6>
                            <ngx-prism language="javascript">
                                {{codes.twowaydatabinding_ts}}
                            </ngx-prism>
                            <h6>output</h6>
                            <input type="text" [(ngModel)]="username"><br>
                            <strong>You said: </strong> {{ username }}
                        </div>
                    </div>
                    <br /><br />
                    <div class="card">
                        <div class="card-header">
                            <h6>ng-template</h6>
                        </div>
                        <div class="card-body">
                            <p>working with if and else within your templates We can use ng-template for that</p>
                            <h6>app.component.html</h6>
                            <ngx-prism language="html">
                                {{codes.ng_template_html}}
                            </ngx-prism>

                            <h6>app.component.ts</h6>
                            <ngx-prism language="javascript">
                                {{codes.ng_template_ts}}
                            </ngx-prism>
                            <br /><br />

                            <div>
                                <button class="btn btn-info" (click)="countClick(1)">+</button> &nbsp;
                                <input [value]="clickCounter" [disabled]="true"> &nbsp;
                                <button class="btn btn-danger" (click)="countClick(2)">-</button>
                                <br /><br />
                                <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
                                    <p>The click counter <strong>IS GREATER</strong> than 4.</p>
                                </ng-template>

                                <ng-template #none>
                                    <p>The click counter is <strong>IS LESS</strong> than 4.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="card">
                        <div class="card-header">
                            <h6>Class Binding</h6>

                        </div>
                        <div class="card-body">
                            <p>If you wish to add or remove entire classes that are defined in your CSS, you can do this
                                with class binding</p>
                            <h6>app.component.html</h6>
                            <ngx-prism language="html">
                                {{codes.twowaydatabinding_html1}}
                            </ngx-prism>
                            <h6>app.component.ts</h6>
                            <ngx-prism language="javascript">
                                {{codes.twowaydatabinding_ts1}}
                            </ngx-prism>

                            <ngx-prism language="css">
                                {{codes.twowaydatabinding_css1}}
                            </ngx-prism>

                            <h6>output</h6>
                            <button class="btn btn-info" (click)="countClick(1)">+</button> &nbsp;
                            <input [value]="clickCounter" [disabled]="true"> &nbsp;
                            <button class="btn btn-danger" (click)="countClick(2)">-</button>

                            <p [class.activeclass]="clickCounter > 4">The click counter is {{clickCounter}}</p>

                            <h5>We can also set multiple classes with ngClass.</h5>
                            <ngx-prism language="html">
                                {{codes.twowaydatabinding_html2}}
                            </ngx-prism>

                            <ngx-prism language="javascript">
                                {{codes.twowaydatabinding_ts2}}
                            </ngx-prism>

                            <ngx-prism language="css">
                                {{codes.twowaydatabinding_css2}}
                            </ngx-prism>


                            <h6>output</h6>
                            <button class="btn btn-info" (click)="countClick(1)">+</button> &nbsp;
                            <input [value]="clickCounter" [disabled]="true"> &nbsp;
                            <button class="btn btn-danger" (click)="countClick(2)">-</button>

                            <p [ngClass]="setClasses()">The click counter is {{clickCounter}}</p>

                        </div>
                    </div>

                    <br /><br />
                    <div class="card">
                        <div class="card-header">
                            <h6>Style Binding</h6>
                        </div>
                        <div class="card-body">
                            <h6>app.component.html</h6>
                            <ngx-prism language="html">
                                {{codes.stylebinding_html1}}
                            </ngx-prism>
                            <h6>app.component.ts</h6>
                            <ngx-prism language="javascript">
                                {{codes.stylebinding_ts}}
                            </ngx-prism>
                            <h6>output</h6>
                            <button class="btn btn-info" (click)="countClick(1)">+</button> &nbsp;
                            <input [value]="clickCounter" [disabled]="true"> &nbsp;
                            <button class="btn btn-danger" (click)="countClick(2)">-</button>

                            <p [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgray'">The click counter is
                                {{clickCounter}}</p>
                            <h5>multiple CSS properties</h5>

                            <ngx-prism language="html">
                                {{codes.stylebinding_html2}}
                            </ngx-prism>

                            <h6>output</h6>
                            <button class="btn btn-info" (click)="countClick(1)">+</button> &nbsp;
                            <input [value]="clickCounter" [disabled]="true"> &nbsp;
                            <button class="btn btn-danger" (click)="countClick(2)">-</button>

                            <p [ngStyle]="{
                            'background-color': clickCounter > 4 ? 'yellow' : 'lightgray',
                            'border':           clickCounter > 4 ? '4px solid black' : 'none'}">The click counter is
                                {{clickCounter}}</p>
                        </div>
                    </div>
                </div>


                <!-- directives -->
                <div class="tab-pane fade shadow rounded bg-white show  p-5" id="Directives" role="tabpanel"
                    aria-labelledby="Directives-tab">
                    <h4 class="font-italic mb-4"> Directives</h4>

                    <h6 class="sub_heading">Types of Directives</h6>
                    There are three main types of directives in Angular 8:
                    <ul>
                        <li> <strong>Component</strong> – Directives with templates.</li>
                        <li> <strong>Attribute Directives</strong> – Directives that change the appearance or behavior
                            of a component
                            or
                            element but don’t
                            affect the template.</li>
                        <li> <strong>Structural Directives</strong> – Directives that change the behavior of a component
                            or
                            element by
                            affecting the template or the DOM decoration of the UI.</li>
                    </ul>

                    <div class="card">
                        <div class="card-header">
                            <h6>Attribute Directive</h6>
                        </div>
                        <div class="card-body">
                            <p>Directives that change the appearance or behavior of a component or element but don’t
                                affect the template.</p>
                            <h6 >In-Built Attribute Directives</h6>
                            <ul>
                                <li> <strong>ngClass</strong> – ngClass directive changes the class attribute that is
                                    bound to the component or
                                    element it's attached to.</li>
                                <li> <strong>ngStyle</strong> – ngStyle is mainly used to modify or change the element’s
                                    style attribute..</li>
                            </ul>
                            <h6 class="sub_heading">Example of ngClass- single class</h6>

                            <ngx-prism language="html">
                                {{codes.directives_attribute_ngclass1_html}}
                            </ngx-prism>

                            <ngx-prism language="javascript">
                                {{codes.directives_attribute_ngclass1_ts}}
                            </ngx-prism>

                            <button class="btn btn-danger" (click)="changeColor()">Change Color</button>
                            <h6 [class.cyan]="showColor">Attribute Change</h6><br />

                            <h6 class="sub_heading">Example of ngClass- multiple class</h6>

                            <ngx-prism language="html">
                                {{codes.directives_attribute_ngclass2_html}}
                            </ngx-prism>

                            <button class="btn btn-danger" (click)="changeColor()">Change Color</button>
                            <h6 [ngClass]="{'cyan':showColor, 'red' : !showColor}"> Change Color</h6>
                        </div>
                    </div>
                    <br />

                    <div class="card">
                        <div class="card-header">
                            <h6>Structural Directive</h6>
                        </div>
                        <div class="card-body">
                            <p>Structural directives are mainly used to change the design pattern of the UI DOM
                                elements. In HTML, these directives can be used as a template tag. Using this type of
                                directives, we can change the structure of any DOM elements and can redesign or
                                redecorate those DOM elements. In Angular Framework, there are some system generate
                                structural directives is available like ngIf, ngFor and ngSwitch.</p>
                            <h6>In-Build Structural Directive</h6>
                            <ul>
                                <li> <strong>ngIf</strong></li>
                                <li> <strong>ngFor</strong> </li>
                                <li> <strong>ngSwitch </strong> </li>
                            </ul>
                            <h6 class="sub_heading">Example of ngIf</h6>
                            <ngx-prism language="html">
                                {{codes.directives_structural_ngIf_html}}
                            </ngx-prism>

                            <ngx-prism language="javascript">
                                {{codes.directives_structural_ngIf_ts}}
                            </ngx-prism>


                            <button class="btn btn-danger" (click)="changeData()">{{caption}}</button>

                            <h2 *ngIf="showInfo"><span>Demonstrate of Structural Directives</span></h2>
                            <!--  -->
                            <h6 class="sub_heading">Example of ngFor</h6>

                            <ngx-prism language="html">
                                {{codes.directives_structural_ngFor_html}}
                            </ngx-prism>

                            <ngx-prism language="javascript">
                                {{codes.directives_structural_ngFor_ts}}
                            </ngx-prism>
                            <ul>
                                <li *ngFor="let item of productList">
                                    {{item}}
                                </li>
                            </ul>

                            <h6 class="sub_heading">Example of ngSwitch</h6>
                            <ngx-prism language="html">
                                {{codes.directives_structural_ngSwitch_html}}
                            </ngx-prism>

                            <ngx-prism language="javascript">
                                {{codes.directives_structural_ngSwitch_ts}}
                            </ngx-prism>

                            <span [ngSwitch]="orderStatus">
                                <span *ngSwitchCase="1">Ordered</span>
                                <span *ngSwitchCase="2">Ontheway</span>
                                <span *ngSwitchCase="3">Canceled</span>
                                <span *ngSwitchDefault >Rejected</span>
                            </span>
                        </div>
                    </div>

                </div>





            </div>
        </div>
    </div>
</section>