<div class="pagelayout">

    <div class="card">
        <div class="card-header">
            <strong>Employees Details</strong>
            <button routerLink="/angular/reactive-form-crud" class="btn btn-info btn-sm  pull-right">List</button>
        </div>
        <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-lg-2">Name</div>
                    <div class="col-lg-4">
                        <input type="text" formControlName="name" class="form-control">
                        <div *ngIf="submitted && f.name.errors" class="text-danger">
                            <div *ngIf="f.name.errors.required"> Name is required</div>
                            <div *ngIf="f.name.errors.minlength">Name must be at least 6 characters
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-2">District</div>
                    <div class="col-lg-4">
                        <select formControlName="district" class="form-control">
                            <option [ngValue]="null" hidden>Choose your District</option>
                            <option *ngFor="let dist of districts" [ngValue]="dist.id">
                                {{ dist.name }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.district.errors" class="text-danger">
                            <div *ngIf="f.district.errors.required">District is required</div>
                        </div>
                    </div>
                </div>
                <div class="all-emp row">
                    <div class="col-lg-2">Employee</div>
                    <div class="col-lg-10">
                        <div formArrayName="employees">
                            <div *ngFor="let emp of employees.controls; let i = index" [formGroupName]="i"
                                class="employee">
                                <div class="row form-group">
                                    <div class="col-lg-3">
                                        <input placeholder="Employee Name" type="text" formControlName="empName"
                                            class="form-control">
                                        <div *ngIf="employees.controls[i].get('empName').errors?.required && submitted"
                                            class="text-danger"> Employee name required.</div>
                                        <div *ngIf="employees.controls[i].get('empName').errors?.minlength && submitted"
                                            class="text-danger"> Employee name must be at least 6 characters.</div>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="number" placeholder="Employee Age" formControlName="age"
                                            class="form-control">
                                        <div *ngIf="employees.controls[i].get('age').errors?.required && submitted" class="text-danger"> Age required.</div>
                                        <div *ngIf="employees.controls[i].get('age').errors?.min && submitted " class="text-danger"> Minimum age is 21.</div>
                                    </div>
                                    <div class="col-lg-3">
                                        <select formControlName="district" class="form-control">
                                            <option [ngValue]="null" hidden>Choose your District</option>
                                            <option *ngFor="let dist of districts" [ngValue]="dist.id">
                                                {{ dist.name }}
                                            </option>
                                        </select>
                                        <div *ngIf="employees.controls[i].get('district').errors?.required && submitted" class="text-danger"> District is required.</div>
                                    </div>
                                    <div class="col-lg-3">
                                        <button type="button" class="btn btn-danger btn-sm" *ngIf="employees.length > 1"
                                            (click)="deleteEmployee(i)"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-info btn-sm" (click)="addEmployee()">Add More Employee</button>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-info" style="width:100px;">{{btnSave}}</button>&nbsp;
                <button (click)="resetForm(employeeForm)" class="btn btn-danger" style="width:100px;">Reset</button>
            </div>
        </form>
    </div>

</div>