<!-- Demo header-->
<section>


    <div class="row">
        <div class="col-md-2">
            <div class="sidebarnav">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">

                    <a class="nav-link mb-3 p-3 shadow active" id="js-introduction-tab" data-toggle="pill"
                        href="#js-introduction" role="tab" aria-controls="js-introduction" aria-selected="true">
                        <i class="fa fa-user-circle-o mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Introduction</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="js-where-to-tab" data-toggle="pill" href="#js-where-to"
                        role="tab" aria-controls="js-where-to" aria-selected="false">
                        <i class="fa fa-calendar-minus-o mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Where To</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="js-outputs-tab" data-toggle="pill" href="#js-outputs"
                        role="tab" aria-controls="js-outputs" aria-selected="false">
                        <i class="fa fa-star mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Outputs</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="js-variables-tab" data-toggle="pill" href="#js-variables"
                        role="tab" aria-controls="js-variables" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Variables</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="js-datatypes-tab" data-toggle="pill" href="#js-datatypes"
                        role="tab" aria-controls="js-datatypes" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Data Types</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="js-strings-tab" data-toggle="pill" href="#js-strings"
                        role="tab" aria-controls="js-strings" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">JavaScript Strings</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="js-numbers-tab" data-toggle="pill" href="#js-numbers"
                        role="tab" aria-controls="js-numbers" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">JavaScript Numbers</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="js-arrays-tab" data-toggle="pill" href="#js-arrays"
                        role="tab" aria-controls="js-arrays" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">JavaScript Arrays</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="jjs-array-methods-tab" data-toggle="pill"
                        href="#js-array-methods" role="tab" aria-controls="js-array-methods" aria-selected="false">
                        <i class="fa fa-check mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">JavaScript Arrays</span></a>

                </div>
            </div>
        </div>


        <div class="col-md-10">
            <!-- Tabs content -->
            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade shadow rounded bg-white show active p-5" id="js-introduction" role="tabpanel"
                    aria-labelledby="js-introduction-tab">
                    <h4 class="font-italic mb-4">Javascript Introduction</h4>
                    <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>

                <!-- Javascript Where To -->
                <div class="tab-pane fade shadow rounded bg-white p-5" id="js-where-to" role="tabpanel"
                    aria-labelledby="js-where-to-tab">
                    <h4 class="font-italic mb-4">Javascript Where To</h4>
                    <p class="mb-2">
                        In HTML, JavaScript code is inserted between <span class="highlight">{{scripttag1}}</span> and
                        <span class="highlight">{{scripttag2}}</span> tags.</p>
                    <h6>1 . JavaScript in {{head}} or {{body}}</h6>
                    <p>Scripts can be placed in the <span class="highlight">{{body}}</span>, or in the <span
                            class="highlight">{{head}}</span> section of an HTML page, or in both.</p>
                    <h6>2 . JavaScript in {{head}}</h6>
                    <p>In this example, a JavaScript function is placed in the <span class="highlight">{{head}}</span>
                        section of an HTML page.</p>
                    <p>The function is invoked (called) when a button is clicked:</p>
                    <ngx-prism language="html">
                        {{codes.js_head_tag}}
                    </ngx-prism>
                    <h6>2 . JavaScript in {{body}}</h6>
                    <p>In this example, a JavaScript function is placed in the <span class="highlight">{{body}}</span>
                        section of an HTML page.</p>
                    <p>The function is invoked (called) when a button is clicked:</p>
                    <ngx-prism language="html">
                        {{codes.js_body_tag}}
                    </ngx-prism>
                    <h6>3 . External JavaScript</h6>
                    <p>External scripts are practical when the same code is used in many different web pages.</p>
                    <p>JavaScript files have the file extension <strong>.js</strong>.</p>
                    <p>To use an external script, put the name of the script file in the <span
                            class="highlight">src</span> (source) attribute of a <span
                            class="highlight">{{scripttag1}}</span>tag</p>
                    <ngx-prism language="html">
                        {{codes.js_External}}
                    </ngx-prism>
                </div>

                <!-- Javascript Outputs -->
                <div class="tab-pane fade shadow rounded bg-white p-5" id="js-outputs" role="tabpanel"
                    aria-labelledby="js-outputs-tab">
                    <h4 class="font-italic mb-4">Javascript Outputs</h4>
                    <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>

                <!-- Javascript Variables -->
                <div class="tab-pane fade shadow rounded bg-white p-5" id="js-variables" role="tabpanel"
                    aria-labelledby="js-variables-tab">
                    <h4 class="font-italic mb-4">Javascript Variables</h4>
                    <p> <i class="fa fa-arrow-right mr-2"></i>JavaScript variables are containers for storing data
                        values.</p>
                    <p> <i class="fa fa-arrow-right mr-2"></i> Variables are declared with the <span
                            class="highlight">var</span> keyword.</p>

                    <h6>1 . JavaScript Identifiers</h6>
                    <p>All JavaScript variables must be identified with unique names.</p>
                    <p>The general rules for constructing names for variables (unique identifiers) are:</p>
                    <ul>
                        <li>Names can contain letters, digits, underscores, and dollar signs</li>
                        <li>Names must begin with a letter</li>
                        <li>Names can also begin with $ and _ </li>
                        <li>Names are case sensitive (y and Y are different variables)</li>
                        <li>Reserved words (like JavaScript keywords) cannot be used as names</li>
                    </ul>
                    <h6>2 . Declaring (Creating) JavaScript Variables</h6>
                    <p>Creating a variable in JavaScript is called "declaring" a variable.</p>
                    <p>In the example below, we create a variable called carName and assign the value "Volvo" to it.</p>
                    <ngx-prism language="html">
                        var carName = "Volvo";
                    </ngx-prism>
                    <h6>3 . One Statement, Many Variables</h6>
                    <p>Start the statement with var and separate the variables by comma:</p>
                    <ngx-prism language="html">
                        var person = "John Doe", carName = "Volvo", price = 200;
                    </ngx-prism>
                    <h6>4 . Value = undefined</h6>
                    <p>A variable declared without a value will have the value <span class="highlight">undefined</span>.
                    </p>
                    <ngx-prism language="html">
                        var carName;
                    </ngx-prism>
                    <h6>5 . Re-Declaring JavaScript Variables</h6>
                    <p>If you re-declare a JavaScript variable, it will not lose its value.</p>
                    <p>The variable carName will still have the value "Volvo" after the execution of these statements:
                    </p>
                    <ngx-prism language="html">
                        var carName = "Volvo";
                        var carName;
                    </ngx-prism>
                </div>

                <div class="tab-pane fade shadow rounded bg-white show  p-5" id="js-datatypes" role="tabpanel"
                    aria-labelledby="js-datatypes-tab">
                    <h4 class="font-italic mb-4">Javascript Data Types</h4>
                    <p>JavaScript variables can hold many data types: <span class="highlight">numbers, strings,
                            objects</span> and more:</p>

                    <h6>1 . JavaScript Strings</h6>
                    <p>Strings are written with quotes. You can use single or double quotes:</p>
                    <ngx-prism language="html">
                        {{codes.datatype_JavaScript_Strings}}
                    </ngx-prism>

                    <h6>2 . JavaScript Numbers</h6>
                    <p>Numbers can be written with, or without decimals:</p>
                    <ngx-prism language="html">
                        {{codes.datatype_JavaScript_Numbers}}
                    </ngx-prism>


                    <h6>3 . JavaScript Booleans</h6>
                    <p>Booleans can only have two values: <span class="highlight">true</span> or <span
                            class="highlight">false</span>.</p>
                    <ngx-prism language="html">
                        {{codes.datatype_JavaScript_Boolean}}
                    </ngx-prism>


                    <h6>4 . JavaScript Arrays</h6>
                    <p>JavaScript arrays are written with square brackets.</p>
                    <p>Array items are separated by commas.</p>
                    <ngx-prism language="html">
                        {{codes.datatype_JavaScript_Arrays}}
                    </ngx-prism>

                    <h6>5 . JavaScript Objects</h6>
                    <p>JavaScript objects are written with curly braces <span class="highlight">{{curly_braces}}</span>.
                    </p>
                    <p>Object properties are written as name:value pairs, separated by commas.</p>
                    <ngx-prism language="html">
                        {{codes.datatype_JavaScript_Objects}}
                    </ngx-prism>

                    <h6>6 . The typeof Operator</h6>
                    <p>You can use the JavaScript <span class="highlight">typeof</span> operator to find the type of a
                        JavaScript variable. .</p>
                    <ngx-prism language="html">
                        {{codes.typeofstring}}
                    </ngx-prism>
                    <ngx-prism language="html">
                        {{codes.typeofnumber}}
                    </ngx-prism>

                    <h6>7 . Undefined</h6>
                    <p>In JavaScript, a variable without a value, has the value <span
                            class="highlight">undefined</span>. The type is also <span
                            class="highlight">undefined</span>.</p>
                    <ngx-prism language="html">
                        var car; // Value is undefined, type is undefined
                    </ngx-prism>

                    <h6>8 . Empty Values</h6>
                    <p>An empty string has both a legal value and a type .</p>
                    <ngx-prism language="html">
                        var car = ""; // The value is "", the typeof is "string"
                    </ngx-prism>

                    <h6>9 . Null</h6>
                    <p> in JavaScript, the data type of <span class="highlight">null</span> is an object.</p>
                    <ngx-prism language="html">
                        {{codes.type_null}}
                    </ngx-prism>
                    <p>JavaScript evaluates expressions from left to right. Different sequences can produce different
                        results:</p>
                    <ngx-prism language="html">
                        {{codes.datatype_methods}}
                    </ngx-prism>


                </div>

                <!-- Javascript Strings -->
                <div class="tab-pane fade shadow rounded bg-white show  p-5" id="js-strings" role="tabpanel"
                    aria-labelledby="js-strings-tab">
                    <h4 class="font-italic mb-4">Javascript Strings</h4>
                    <p>JavaScript strings are used for storing and manipulating text.</p>

                    <ngx-prism language="html">
                        var x = "John Doe";
                    </ngx-prism>

                    <h6>1 . String Length</h6>
                    <p>The <span class="highlight">length</span> property returns the length of a string:</p>

                    <ngx-prism language="javascript">
                        {{codes.string_length}}
                    </ngx-prism>

                    <h6>2 . Finding a String in a String</h6>
                    <p>The <span class="highlight">indexOf() </span> method returns the index of (the position of) the
                        first occurrence of a specified text in a string:</p>

                    <ngx-prism language="javascript">
                        {{codes.string_indexOf}}
                    </ngx-prism>
                    <div class="highlight-text">
                        <p>JavaScript counts positions from zero.</p>
                        <p> 0 is the first position in a string, 1 is the second, 2 is the third ...</p>
                    </div>

                    <p>The <span class="highlight">lastIndexOf() </span> method returns the index of the last occurrence
                        of a specified text in a string:</p>

                    <ngx-prism language="javascript">
                        {{codes.string_lastIndexOf}}
                    </ngx-prism>


                    <h6>3 . Searching for a String in a String</h6>
                    <P>The <span class="highlight">search() </span> method searches a string for a specified value and
                        returns the position of the match:</P>


                    <ngx-prism language="javascript">
                        {{codes.string_Search}}
                    </ngx-prism>


                    <h6>4 . Extracting String Parts</h6>
                    <p>There are 3 methods for extracting a part of a string:</p>
                    <ul>
                        <li>slice(start, end)</li>
                        <li>substring(start, end)</li>
                        <li>substr(start, length)</li>
                    </ul>
                    <h6>4.1 The slice() Method</h6>
                    <p>The <span class="highlight">slice() </span> extracts a part of a string and returns the extracted
                        part in a new string:</p>
                    <p>The method takes 2 parameters: the start position, and the end position (end not included).</p>

                    <ngx-prism language="javascript">
                        {{codes.string_Slice}}
                    </ngx-prism>

                    <p>If a parameter is negative, the position is counted from the end of the string.</p>

                    <ngx-prism language="javascript">
                        {{codes.string_Slice_right}}
                    </ngx-prism>

                    <p>If you omit the second parameter, the method will slice out the rest of the string.</p>

                    <ngx-prism language="javascript">
                        {{codes.string_Slice_out}}
                    </ngx-prism>

                    <h6>4.2 The substring() Method</h6>
                    <p>substring() is similar to slice().</p>
                    <p>The difference is that <span class="highlight">substring() </span> cannot accept negative
                        indexes.</p>
                    <ngx-prism language="javascript">
                        {{codes.string_SubString}}
                    </ngx-prism>
                    <p>If you omit the second parameter, <span class="highlight">substring() </span> will slice out the
                        rest of the string.</p>

                    <h6>4.3 The substr() Method</h6>
                    <p>substr() is similar to slice().</p>
                    <p>The difference is that the second parameter specifies the <strong>length</strong> of the
                        extracted part.</p>
                    <ngx-prism language="javascript">
                        {{codes.string_substr}}
                    </ngx-prism>
                    <p>If you omit the second parameter, <span class="highlight">substr() </span>will slice out the rest
                        of the string.</p>
                    <ngx-prism language="javascript">
                        {{codes.string_substr_out}}
                    </ngx-prism>
                    <p>If the first parameter is negative, the position counts from the end of the string.</p>
                    <ngx-prism language="javascript">
                        {{codes.string_substr_right}}
                    </ngx-prism>

                    <h6>5 . Converting to Upper and Lower Case</h6>
                    <p>A string is converted to upper case with <span class="highlight">toUpperCase() </span>:</p>
                    <p>A string is converted to lower case with <span class="highlight">toLowerCase() </span>:</p>

                    <ngx-prism language="javascript">
                        {{codes.string_uppercase_lowercase}}
                    </ngx-prism>

                    <h6>6 . The concat() Method</h6>
                    <p><span class="highlight">concat() </span> joins two or more strings:</p>

                    <ngx-prism language="javascript">
                        {{codes.string_concat}}
                    </ngx-prism>

                    <p>The <span class="highlight">concat() </span> method can be used instead of the plus operator.</p>

                    <ngx-prism language="javascript">
                        {{codes.string_concat_plus}}
                    </ngx-prism>

                    <h6>7 . Remove White Space</h6>
                    <p>The <span class="highlight"> trim() </span> method removes whitespace from both sides of a
                        string: </p>

                    <ngx-prism language="javascript">
                        {{codes.string_trim}}
                    </ngx-prism>

                    <h6>8 . Converting a String to an Array</h6>
                    <p>A string can be converted to an array with the <span class="highlight"> split() </span> method:
                    </p>
                    <ngx-prism language="javascript">
                        {{codes.string_array_split}}
                    </ngx-prism>

                    <h6>9 . Replacing String Content</h6>
                    <p>The <span class="highlight"> replace() </span> method replaces a specified value with another
                        value in a string:
                    </p>
                    <ngx-prism language="javascript">
                        {{codes.string_replace}}
                    </ngx-prism>
                    <div class="highlight-text">
                        <p>The <span class="highlight"> replace() </span> method does not change the string it is called
                            on. It returns a new string.</p>
                    </div>
                    <p>By default, the<span class="highlight"> replace() </span> method replaces only the first match:
                    </p>
                </div>

                <div class="tab-pane fade shadow rounded bg-white show  p-5" id="js-arrays" role="tabpanel"
                    aria-labelledby="js-arrays-tab">
                    <h4 class="font-italic mb-4">Javascript Arrays</h4>
                    <p>JavaScript arrays are used to store multiple values in a single variable.</p>

                    <p>Syntax:</p>
                    <ngx-prism language="javascript">
                        var array_name = [item1, item2, ...];
                    </ngx-prism>

                    <p>Example:</p>
                    <ngx-prism language="javascript">
                        var cars = ["Saab", "Volvo", "BMW"];
                    </ngx-prism>
                    <h6>Using the JavaScript Keyword new</h6>
                    <p>The following example also creates an Array, and assigns values to it:</p>
                    <ngx-prism language="javascript">
                        var cars = new Array("Saab", "Volvo", "BMW");
                    </ngx-prism>
                    <div class="highlight-text">
                        <p>The two examples above do exactly the same. There is no need to use new Array().</p>
                    </div>
                    <h5>Array Properties </h5>
                    <h6>1.The length Property </h6>
                    <p>The <span class="highlight"> length </span> property of an array returns the length of an array
                        (the number of array elements).</p>
                    <ngx-prism language="javascript">
                        {{codes.array_length}}
                    </ngx-prism>


                    <h6>2.Accessing the First Array Element </h6>
                    <ngx-prism language="javascript">
                        {{codes.array_first_element}}
                    </ngx-prism>


                    <h6>3.Accessing the Last Array Element </h6>
                    <ngx-prism language="javascript">
                        {{codes.array_last_element}}
                    </ngx-prism>


                    <h6>4.Looping Array Elements </h6>
                    <p>The safest way to loop through an array, is using a <span class="highlight"> for </span> loop:
                    </p>
                    <ngx-prism language="javascript">
                        {{codes.array_for_loop}}
                    </ngx-prism>

                    <p>You can also use the <span class="highlight"> Array.forEach() </span> function</p>

                    <ngx-prism language="javascript">
                        {{codes.array_for_each}}
                    </ngx-prism>


                    <h6>5.How to Recognize an Array </h6>
                    <p>The <span class="highlight"> typeof </span> operator returns object because a JavaScript array is
                        an object.</p>
                    <ngx-prism language="javascript">
                        {{codes.array_typeof}}
                    </ngx-prism>

                    <p>The <span class="highlight"> instanceof </span> operator returns true if an object is created by
                        a given constructor:</p>
                    <ngx-prism language="javascript">
                        {{codes.array_instanceof}}
                    </ngx-prism>
                </div>

                <div class="tab-pane fade shadow rounded bg-white show  p-5" id="js-array-methods" role="tabpanel"
                    aria-labelledby="js-array-methods-tab">
                    <h4 class="font-italic mb-4">Javascript Array Methods</h4>
                    <h6>1.Converting Arrays to Strings </h6>
                    <p>The JavaScript method <span class="highlight"> toString() </span> converts an array to a string
                        of (comma separated) array values.</p>
                    <ngx-prism language="javascript">
                        {{codes.array_method_tostring}}
                    </ngx-prism>
                    <p>The <span class="highlight"> join() </span> method also joins all array elements into a string.
                    </p>
                    <p>It behaves just like toString(), but in addition you can specify the separator:</p>
                    <ngx-prism language="javascript">
                        {{codes.array_method_join}}
                    </ngx-prism>


                    <h6>1. Popping and Pushing </h6>
          

                    The <span class="highlight"> pop() </span> method removes the last element from an array

                    <ngx-prism language="javascript">
                        {{codes.array_method_pop}}
                    </ngx-prism>

                    The <span class="highlight"> push() </span> method adds a new element at the end of an array

                    <ngx-prism language="javascript">
                        {{codes.array_method_push}}
                    </ngx-prism>

                    <h6>2.Shifting and Unshifting </h6>
                    The <span class="highlight"> shift() </span> method removes the first array element

                    <ngx-prism language="javascript">
                        {{codes.array_method_shift}}
                    </ngx-prism>

                    The <span class="highlight"> unshift() </span> method adds a new element at the beginning of an array

                    <ngx-prism language="javascript">
                        {{codes.array_method_unshift}}
                    </ngx-prism>

                </div>







            </div>
        </div>
    </div>

</section>