.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}

.tab-content > .active {
    display: block;
    min-height: 640px;
}
/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


.highlight{
    color: crimson;
    background-color: #f1f1f1;
    padding:  0px 4px 4px;

}
.highlight-text{
    background: #eef8b8;
    padding: 14px;
    margin-bottom:10px;
}
.highlight-text p{

    margin-bottom:0 !important;
}
h6{
    font-size: 20px;
    color:#991515;
}

.sidebarnav {
    width: 237px;
    height: 700px;
    overflow: auto;
    position: fixed;
    padding-right: 21px;
  }