<div class="pagelayout">
    <div class="card">
        <div class="card-header">
            <strong>Employees List</strong>
            <button (click)="gotoEmployeeRequest(0)" class="btn btn-info btn-sm  pull-right">ADD</button>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Name</th>
                        <th>District</th>
                        <th width="100px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees">
                        <td>{{emp.SlNo}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.district}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" (click)="gotoEmployeeRequest(emp.id)"><i class="fa fa-edit"></i></button>&nbsp;
                            <button class="btn btn-danger btn-sm" (click)="deleteEmployee(emp.id)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <br>
    <div class="card">
        <div class="card-header">
            <h6> Angular 8 CRUD in Reactive form</h6>
        </div>
        <div class="card-body">
            <h6 class="header">Setup Angular Project</h6>
            <p>1.Create an angular project by using below command in terminal</p>
            <ngx-prism language="html">
                {{codes.createproject1}}
            </ngx-prism>

            <p>Once the project is installed then get into the project’s directory by following the following command.
            </p>
            <ngx-prism language="html">
                {{codes.createproject2}}
            </ngx-prism>

            <p>Run the project</p>
            <ngx-prism language="html">
                {{codes.createproject3}}
            </ngx-prism>

            <h6 class="header">2.Add Bootrasp to project</h6>
            <p>Use below command to install the latest version of the Bootstrap framework.</p>
            <ngx-prism language="html">
                {{codes.bootsrap1}}
            </ngx-prism>

            <p>Install Font Awesome free icons set library using Angular CLI</p>
            <ngx-prism language="html">
                {{codes.bootsrap2}}
            </ngx-prism>


            <p>Go to <strong>src > angular.json</strong> file to register Bootstrap and FontAwesome CSS in styles array.
            </p>
            <ngx-prism language="html">
                {{codes.bootsrap3}}
            </ngx-prism>



            <h6 class="header">3.Import FormsModule, ReactiveFormsModule, HttpClientModule in app.module.ts </h6>
            <ngx-prism language="javascript">
                {{codes.appmodule}}
            </ngx-prism>

            <h6 class="header">4.Create employee service </h6>
            <p class="strong">ng g service employee --skipTests=true </p>

            <ngx-prism language="javascript">
                {{codes.employeeservice}}
            </ngx-prism>

            <h6 routerLink='/angular/json-server' class="header routerLink">5.Create Dummy Database using JSON
                Server </h6>
            <ngx-prism language="javascript">
                {{codes.dummydatabase}}
            </ngx-prism>
            <h6 routerLink='/angular/toaster-notification' class="header routerLink">6.Toaster Notification in
                Angular 8 </h6>

            <h6 class="header">7.Create a class employee </h6>
            <p class="strong">ng g class employee --skipTests=true </p>
            <ngx-prism language="javascript">
                {{codes.class}}
            </ngx-prism>

            
            <h6 class="header">8.Create employee list component </h6>

            <p class="strong">ng g c employeeList </p>
            <p>1.employee-list-component.html</p>
            <ngx-prism language="html">
                {{codes.employeeListComponent_html}}
            </ngx-prism>
            <p>1.employee-list-component.ts</p>
            <ngx-prism language="javascript">
                {{codes.employeeListComponent_ts}}
            </ngx-prism>

            <h6 class="header">9.Create employee request component </h6>

            <p class="strong">ng g c employeeRequest </p>
            <p>1.employee-request-component.html</p>
            <ngx-prism language="html">
                {{codes.employeeRequestComponent_html}}
            </ngx-prism>
            <p>1.employee-request-component.ts</p>
            <ngx-prism language="javascript">
                {{codes.employeeRequestComponent_ts}}
            </ngx-prism>

        </div>
    </div>
</div>