<div class="pagelayout">
    <div class="card">
        <div class="card-header">
            <h6> Angular 8 CRUD in Reactive form</h6>
        </div>
        <div class="card-body">
            <h6 class="header">Setup Angular Project</h6>
            <ngx-prism language="html">
                {{codes.createproject}}
            </ngx-prism>

            <h6 class="header">Import FormsModule, ReactiveFormsModule, HttpClientModule in app.module.ts </h6>
            <ngx-prism language="javascript">
                {{codes.appmodule}}
            </ngx-prism>


        </div>
    </div>
</div>