<div class="pagelayout">
    <div class="card">
        <div class="card-header">
            <h6> Pass data from parent to child component</h6>
        </div>
        <div class="card-body">
            <p>The <strong>@Input()</strong> decorator allows Angular to share data from Parent to child</p>
            <p>Consider the following parent component:</p>
            <p><strong>parent.component.html</strong></p>
            <ngx-prism language="html">
                {{parenthtmlcontent}}
            </ngx-prism>
            <p><strong>parent.component.ts</strong></p>
            <ngx-prism language="javascript">
                {{parenttscontent}}
            </ngx-prism>
            <p><strong>child.component.html</strong></p>
            <ngx-prism language="html">
                {{childhtmlcontent}}
            </ngx-prism>
            <p><strong>child.component.ts</strong></p>
            <ngx-prism language="javascript">
                {{childtscontent}}
            </ngx-prism>
        </div>
    </div>
</div>