<div class="card">
    <div class="card-header">
        <h6>Pass data from child to parent component</h6>
    </div>
    <div class="card-body">

        <p>The <strong> @Output and EventEmitter</strong> decorator allows Angular to share data from child to parent</p>
        <p>Consider the following child component:</p>


        <p><strong>child.component.html</strong></p>
        <ngx-prism language="html">
            {{childhtmlcontent}}
        </ngx-prism>
        <p><strong>child.component.ts</strong></p>
        <ngx-prism language="javascript">
            {{childtscontent}}
        </ngx-prism>
        <p>Consider the following parent component:</p>
         <p><strong>parent.component.html</strong></p>
        <ngx-prism language="html">
            {{parenthtmlcontent}}
        </ngx-prism>
        <p><strong>parent.component.ts</strong></p>
        <ngx-prism language="javascript">
            {{parenttscontent}}
        </ngx-prism> 


    </div>
</div>
