<div class="card mt-4 ">
    <div class="card-header">
        <h5>Data Binding in Angular</h5>
    </div>
    <div class="card-body">
        <p>The data binding in Angular can be broadly classified into two groups. One way binding or two-way binding</p>

        <div class="header"> One way binding</div>
        <p>In one way binding data flows from one direction. Either from view to component or from component to view.
        </p>
        <!-- ---------------------------- Interpolation ------------------------------------------------->
        <div class="subheader"> Interpolation</div>
        <p>In Interpolation data flows from the component to the DOM.We use curly braces for interpolation.</p>


        <div class="tabsection">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-1" role="tab"
                        aria-controls="pills-home" aria-selected="true">app.component.html</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">app.component.ts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-3" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Preview</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">
                    <ngx-prism language="html">
                        {{codes.interpolation_html}}
                    </ngx-prism>

                </div>
                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <ngx-prism language="javascript">
                        {{codes.interpolation_ts}}
                    </ngx-prism>
                </div>
                <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-contact-tab">
                    Welcome, {{firstName}} {{lastName}}
                    <p>Welcome {{getUserName()}}</p>


                    <h6>Bind to an element property</h6>

                    <p>Show me <span class="{{redcolor}}">red</span></p>
                    <p style.color={{giveMeRed}}>This is red</p>

                    <p>Bind to an image source</p>
                    <div><img src="{{itemImageUrl}}"></div>

                    <p>href</p>
                    <a href="/product/{{productID}}">{{productName}}</a>

                    <p>Use a template reference variable </p>
                    <label>Enter Your Name</label>
                    <input (keyup)="0" #name>
                    <p>Welcome {{name.value}} </p>
                </div>
            </div>
        </div>




        <!-- ---------------------------- Property binding ------------------------------------------------->

        <div class="subheader"> Property binding</div>
        <p>In property binding data flows from the component to a property of an element in the DOM. We use brackets for
            property binding.</p>
        <p> Whenever the value of the component changes, the Angular updates the element property in the View</p>
        <p>The Property Binding uses the following Syntax [binding-target]=”binding-source”</p>
        <div class="tabsection">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-4" role="tab"
                        aria-controls="pills-home" aria-selected="true">app.component.html</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-5" role="tab"
                        aria-controls="pills-profile" aria-selected="false">app.component.ts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-6" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Preview</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-4" role="tabpanel" aria-labelledby="pills-home-tab">
                    <ngx-prism language="html">
                        {{codes.propertybinding_html}}
                    </ngx-prism>

                </div>
                <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <ngx-prism language="javascript">
                        {{codes.propertybinding_ts}}
                    </ngx-prism>
                </div>
                <div class="tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <h1 [innerText]="title"></h1>
                    <h2>Example 1</h2>
                    <button [disabled]="isDisabled">I am disabled</button>
                </div>
            </div>
        </div>



        <p>
            <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Special Binding
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="subheader"> Class binding with ClassName</div>
                <div class="tabsection">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-10"
                                role="tab" aria-controls="pills-home" aria-selected="true">app.component.html</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-11" role="tab"
                                aria-controls="pills-profile" aria-selected="false">app.component.ts</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-10" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <ngx-prism language="html">
                                {{codes.classNamebinding_html}}
                            </ngx-prism>

                        </div>
                        <div class="tab-pane fade" id="pills-11" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <ngx-prism language="javascript">
                                {{codes.classNamebinding_ts}}
                            </ngx-prism>
                        </div>

                    </div>
                </div>

                <div class="subheader"> Class binding with Class</div>
                Syntax
                <ngx-prism language="html">
                    {{codes.classbindingsyntax_html}}
                </ngx-prism>
                <p>className is name of the class, which you want to bind to.</p>

                <p> condition must return true or false. A return value of true adds the class and a false removes the
                    class.</p>

                <div class="tabsection">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-12"
                                role="tab" aria-controls="pills-home" aria-selected="true">app.component.html</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-13" role="tab"
                                aria-controls="pills-profile" aria-selected="false">app.component.ts</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-12" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <ngx-prism language="html">
                                {{codes.classbinding_html}}
                            </ngx-prism>

                        </div>
                        <div class="tab-pane fade" id="pills-13" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <ngx-prism language="javascript">
                                {{codes.classbinding_ts}}
                            </ngx-prism>
                        </div>

                    </div>
                </div>



                <div class="subheader"> Style Binding</div>
                Syntax
                <ngx-prism language="html">
                    {{codes.stylebindingsyntax_html}}
                </ngx-prism>


                <div class="tabsection">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-14"
                                role="tab" aria-controls="pills-home" aria-selected="true">app.component.html</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-15" role="tab"
                                aria-controls="pills-profile" aria-selected="false">app.component.ts</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-14" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <ngx-prism language="html">
                                {{codes.stylebinding_html}}
                            </ngx-prism>

                        </div>
                        <div class="tab-pane fade" id="pills-15" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <ngx-prism language="javascript">
                                {{codes.stylebinding_ts}}
                            </ngx-prism>
                        </div>

                    </div>
                </div>







            </div>
        </div>



        <!-- ---------------------------- Event binding ------------------------------------------------->

        <div class="subheader"> Event binding</div>
        <p>In event binding data flows from the DOM to the component.When a DOM event occurs such as click etc.</p>
        <p>The Event Binding uses the following Syntax (target-event)="TemplateStatement"</p>
        <div class="tabsection">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-7" role="tab"
                        aria-controls="pills-home" aria-selected="true">app.component.html</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-8" role="tab"
                        aria-controls="pills-profile" aria-selected="false">app.component.ts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-9" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Preview</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-7" role="tabpanel" aria-labelledby="pills-home-tab">
                    <ngx-prism language="html">
                        {{codes.eventbinding_html}}
                    </ngx-prism>

                </div>
                <div class="tab-pane fade" id="pills-8" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <ngx-prism language="javascript">
                        {{codes.eventbinding_ts}}
                    </ngx-prism>
                </div>
                <div class="tab-pane fade" id="pills-9" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <button (click)="clickMe()">Click Me</button>
                    <p>You have clicked {{clickCount}}</p>
                </div>
            </div>
        </div>

        <h6>Instead of parentheses, you can also use the on- syntax as shown below.</h6>
        <ngx-prism language="html">
            {{codes.eventbindingonsyntax_html}}
        </ngx-prism>

        <h6>Multiple event handlers</h6>

        <p>You can also bind an unlimited number of event handlers on the same event by separating them with a semicolon
            ;</p>

        <ngx-prism language="html">
            {{codes.eventbindingMultiplesyntax_html}}
        </ngx-prism>

        <h6>
            $event Payload
        </h6>
        <p>DOM Events carries the event payload. I.e the information about the event. We can access the event payload by
            using $event as an argument to the handler function.</p>
        <p>The properties of a $event object vary depending on the type of DOM event. For example, a mouse event
            includes different information than an input box editing event.</p>
        <p>Remember you need to use the variable as $event in the Template statement. Example handleInput($event).
            Otherwise, it will result in an error</p>
        <div class="tabsection">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-20" role="tab"
                        aria-controls="pills-home" aria-selected="true">app.component.html</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-21" role="tab"
                        aria-controls="pills-profile" aria-selected="false">app.component.ts</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-20" role="tabpanel" aria-labelledby="pills-home-tab">
                    <ngx-prism language="html">
                        {{codes.eventbindingEventpayload_html}}
                    </ngx-prism>

                </div>
                <div class="tab-pane fade" id="pills-21" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <ngx-prism language="javascript">
                        {{codes.eventbindingEventpayload_ts}}
                    </ngx-prism>
                </div>
            </div>
        </div>



        <h6>
            Template reference variable
        </h6>
        <p>We can also make use of the template reference variable to pass the value instead of $event.</p>
        <div class="tabsection">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-22" role="tab"
                        aria-controls="pills-home" aria-selected="true">app.component.html</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-23" role="tab"
                        aria-controls="pills-profile" aria-selected="false">app.component.ts</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-22" role="tabpanel" aria-labelledby="pills-home-tab">
                    <ngx-prism language="html">
                        {{codes.eventbindingTemplatereference_html}}
                    </ngx-prism>

                </div>
                <div class="tab-pane fade" id="pills-23" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <ngx-prism language="javascript">
                        {{codes.eventbindingTemplatereference_ts}}
                    </ngx-prism>
                </div>
            </div>
        </div>


    </div>
</div>