<div class="card">
    <div class="card-header">
        <h5>Interview Questions</h5>
    </div>
    <div class="card-body">
        <p class="question">1.What is Angular 8</p>
        <p class="answer">
            Angular 8 is a client-side TypeScript based framework which is used to create dynamic web applications.
            <br>
            Its first version was released by Google in 2012 and named as AngularJS.
            <br>
            Typescript is a super-set of JavaScript.  </p>
        <h6>Features of Angular8</h6>
        <ul>
            <li>Angular 8 supports TypeScript 3.4</li>
            <li>Angular 8 provides dynamic imports for lazy-loaded modules.</li>
        </ul>
      

        <p class="question">2.Difference between Angular Js and Angular</p>

        <div class="table">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:300px">Angular JS</th>
                        <th style="width:300px">Angular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Angular JS Does not supported by mobile browsers.</td>
                        <td>Angular supported by all the popular mobile browsers.</td>
                    </tr>
                    <tr>
                        <td>AngularJS works on MVC, Model View Controller Design. </td>
                        <td>Angular uses components and directives. Here component is directive with a template.</td>
                    </tr>
                    <tr>
                        <td>AngularJS code is written in javascript.</td>
                        <td>Angular code is written in typescript.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="question">1.What is a @ViewChild ?</p>
        <p class="answer">
            A ViewChild is a component if we want to access a child component, directive, DOM element inside the parent component, we use the decorator @ViewChild() in Angular.  </p>


    </div>
</div>