/* You can add global styles to this file, and also import other style files */
//@import '~prismjs/themes/prism-coy.css';
//@import '~prismjs/themes/prism-okaidia.css';
 //@import '~prismjs/themes/prism-solarizedlight.css';
 @import '~prismjs/themes/prism-tomorrow.css';
 //@import '~prismjs/themes/prism-twilight.css';
 //@import '~prismjs/themes/prism.css';
body{
   background-color: #fff ;
   font-size: 15px !important;
   padding-top: 55px;
}
h6{
    margin-top: 20px !important;   
}
p{
    color: #6c757d;
    font-size: 17px;
    margin: 0 !important;
}
.header{
    color: #4a100c;
    font-size: 19px; 
    font-weight: bold;
    margin-top: 10px;
}
.subheader{
    color: #DC4E44;
    font-size: 17px; 
    font-weight: bold;
    margin-top: 10px;
}
.card{
    padding: 20px;
}

.fadepage {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.tabsection{
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}
.tabsection .nav-pills{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #495057;
    background-color: #dae0e5;
    border-bottom: 5px solid #4b4242;
}
.redcolor{
    color: red;
}

.mainheader{
    border-bottom:3px solid #000 ;
}